
.navbar-default {
  color: #FFFFFF;
  background-color: #3C3C3C ;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  background-color: #3C3C3C ;
}
.navbar-default .navbar-nav > li > a :hover {
  color: #FCDF15;
}

a:hover {
  color:#FCDF15 ;
}

.active {
  color:#FCDF15;
}
.span.btn.btn-primary {
  margin-left: 40px;
  background-color: #0B99BC;
}
.btn-primary{
  margin-left: 40px;
}
.navbar-default .navbar-nav > li > a :hover {
  color:  #FCDF15 !important;
}
.navbar-default .navbar-nav > li {
  color:  #FCDF15 !important;
}

a:hover {
  color: #FCDF15 !important;
}

a:focus:{
   color: #FCDF15 !important;
  }
