/*body{
  background-color: #FFFFFF;
  color: #3C3C3C;
}
*/

/*media (min-width: 768px) {
  .navbar-collapse {
    height: auto;
    border-top: 0;
    box-shadow: none;
    max-height: none;
    padding-left:0;
    padding-right:0;
  }
  .navbar-collapse.collapse {
    display: block !important;
    width: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .navbar-collapse.in {
    overflow-x: visible;
  }

*/
/*.nav ul
{
	max-width:300px;
	margin-right: 0;
	margin-left: 0;
  color: #FFFFFF;
  background-color: #3C3C3C ;
}
*/

.navbar-default {
  color: #FFFFFF;
  background-color: #3C3C3C ;
}

.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
  background-color: #3C3C3C ;
}
.navbar-default .navbar-nav > li > a :hover {
  color: #FCDF15;
}

a:hover {
  color:#FCDF15 ;
}

.active {
  color:#FCDF15;
}

/*
.navbar-right .dropdown-menu {left:0;right:auto;}
.navbar-collapse .navbar-nav.navbar-right:last-child {
    margin-right: 0;
}
}
