   <h1>Brain View</h1>
   <div class="row">
     <div class="col-md-4">

       <nav class="navbar navbar-default" role="navigation">
         <!-- Brand and toggle get grouped for better mobile display -->
         <div class="navbar-header">
           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
             <span class="icon-bar"></span>
           </button>
           <a class="navbar-brand" href="#">Brand</a>
         </div>

         <!-- Collect the nav links, forms, and other content for toggling -->
         <div class="collapse navbar-collapse navbar-ex1-collapse">
           <ul class="nav navbar-nav">
             <li class="active"><a href="#/physical">Memory</a></li>
             <li><a href="#/emotional">Attention</a></li>
             <li><a href="#/brain">Speed</a></li>
             <li><a href="#/brain">Adaptability</a></li>
           </ul>

             </li>
           </ul>
         </div><!-- /.navbar-collapse -->
       </nav>



     </div>
     <div class="col-md-8">
       <highchart id="chart1" config="chartConfig" class="col-sm-9" ></highchart>
     </div>
   </div>
