
<div class="row">
  <div class="col-md-4">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Home</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#/physical">Physical Health</a></li>
          <li><a href="#/emotional">Emotional Health</a></li>
          <li><a href="#/brain">Brain Health</a></li>
        </ul>

          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>


  </div>
  <div class="col-md-8">
    <a href="#/physical">Physical Health</a>
    <a href="#/emotional">Emotional Health</a>
    <a href="#/brain">Brain Health</a>
    <highchart id="chart1" config="chartConfig" class="col-sm-9" ></highchart>
  </div>
</div>
</div>
