<div class="row">
  <div class="col-md-12">
    <highchart id="chart1" config="chartConfig" class="col-sm-9" ></highchart>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>Physiology</p>

        <p>BPM</p>
        <p>BMI</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
      <table class="table">
        <thead>
          <th>title 1</th>
          <th>title 2</th>
          <th>title 3</th>
        </thead>
        <tbody>
          <tr ng-repeat="data in tabledata">
            <td>{{tabledata.text}}</td>
            <td>{{tabledata.body}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>


</div>
