<div class="row">
  <div class="col-md-4">
<p>Intergrate your tracking apps and devices on to our platform</p>
  </div>
  <div class="col-md-8">
    <ul class="list-inline">
      <li><i class="fa fa-2x fa-plus-square" width="60"></i></li>
      <li><img src="images/fitbit-1024-blk-onwhite.jpg" width="60"/>

      </li>
      <li><img src="images/garminFit.jpg" width="60"/>

      </li>
      <li><img src="images/pebble_logo.png" width="60"/>

    </li>
    <span class="btn btn-primary position">Physical Health</span>
    </ul>
    <ul class="list-inline">
      <li><i class="fa fa-2x fa-plus-square" width="40"></i></li>
      <li><img src="images/clients_MyMoodTracker_icon.png" width="60"/>

      </li>
      <li><img src="images/icon175x175.jpeg" width="60"/>

      </li>
      <li><img src="images/moodlytics.png" width="60"/>

    </li>
    <span class="btn btn-primary position">Emotional Health</span>
    </ul>

    </ul>
    <ul class="list-inline">
      <li><i class="fa fa-2x fa-plus-square" width="40"></i></li>
      <li><img src="images/Fit-Brains-Trainer-1.png" width="60"/>

      </li>
      <li><img src="images/lumosity_mobile_app_icon.png" width="60"/>

      </li>
      <li><img src="images/headerfb.jpg" width="60"/>

    </li>
    <span class="btn btn-primary position">Brain Health</span>
    </ul>
  </div>
</div>
