<div class="row">
  <div class="col-md-4">

  </div>
  <div class="col-md-8">
    <ul class="list-inline">
      <li><img src="images/fitbit-1024-blk-onwhite.jpg" width="80"/>
      <p>Fitbit</p>
      </li>
      <li><img src="images/garminFit.jpg" width="80"/>
      <p>Garmin</p>
      </li>
      <li><img src="images/pebble_logo.png" width="80"/>
      <p>Pebble</p>
    </li>
    </ul>
    <ul class="list-inline">
      <li><img src="images/clients_MyMoodTracker_icon.png" width="80"/>
      <p>My </p>
      </li>
      <li><img src="images/icon175x175.jpeg" width="80"/>
      <p>Garmin</p>
      </li>
      <li><img src="images/moodlytics.png" width="80"/>
      <p>Pebble</p>
    </li>
    </ul>
  </div>
</div>
